<%= render Container.new(class_name: "mt-16 sm:mt-32") do %>
  <header class="max-w-2xl">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
      <%= title %>
    </h1>

    <p class="mt-6 text-lg text-zinc-600">
      <%= intro %>
    </p>
  </header>

  <% if newsletter %>
    <form action="/thank-you">
      <div class="mt-6 sm:mt-8 flex">
        <input type="email" placeholder="Email address" aria-label="Email address" required autocomplete="email" class="min-w-0 max-w-xs flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(theme(spacing.2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-primary-600 focus:outline-none focus:ring-4 focus:ring-primary-600/10 sm:text-sm">
        <%= render Button.new(class_name: "ml-4 flex-none") do %>
          Subscribe
        <% end %>
      </div>
    </form>
  <% end %>

  <div class="mt-16 sm:mt-20">
    <%= content %>
  </div>
<% end %>
