<!DOCTYPE HTML>
<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= [current_page.data["title"], "Masilotti.com"].compact.join(" &bull; ").html_safe %></title>
    <%= tag.meta name: "description", content: current_page.data["description"] %>
    <%= stylesheet_link_tag "build/site" %>
    <%= javascript_include_tag "build/application" %>
  </head>

  <body class="flex h-full flex-col bg-zinc-50">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100"></div>
      </div>
    </div>

    <div class="relative">
      <%= render Header.new(request_path: current_page.request_path, large_avatar: current_page.data["large_nav_avatar"]) %>

      <main>
        <%= yield %>
      </main>

      <%= render partial: "partials/footer" %>
    </div>
  </body>
</html>
