---
title: Masilotti.com
large_nav_avatar: true

---

<%= render Container.new(class_name: "mt-9") do %>
  <div class="max-w-2xl">
    <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
      Software designer, founder, and amateur astronaut.
    </h1>

    <p class="mt-6 text-base text-zinc-600">
      I’m Spencer, a software designer and entrepreneur based in New York
      City. I’m the founder and CEO of Planetaria, where we develop
      technologies that empower regular people to explore space on their
      own terms.
    </p>

    <div class="mt-6 flex gap-6">
      <%= render SocialLink.new(href: data(:social_urls).email, label: "Email Joe", icon: "solid/envelope") %>
      <%= render SocialLink.new(href: data(:social_urls).twitter, label: "Follow Joe on Twitter", icon: :twitter) %>
      <%= render SocialLink.new(href: data(:social_urls).github, label: "Follow Joe on GitHub", icon: :github) %>
      <%= render SocialLink.new(href: data(:social_urls).mastodon, label: "Follow Joe on Mastodon", icon: :mastodon) %>
      <%= render SocialLink.new(href: data(:social_urls).linkedin, label: "Follow Joe on LinkedIn", icon: :linkedin) %>
    </div>
  </div>
<% end %>

<%= render Container.new(class_name: "mt-24 md:mt-28") do %>
  <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
    <div class="flex flex-col gap-16">
      <% ArticlePage.all.each do |article| %>
        <%= render Article.new(article) %>
      <% end %>
    </div>

    <div class="space-y-10 lg:pl-16 xl:pl-24">
      <%= render Newsletter.new %>
      <%# TODO: render Resume.new %>
    </div>
  </div>
<% end %>
