<nav class="pointer-events-auto hidden md:block">
  <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur">
    <%= render UI::Navigation::Item.new("About", "/", request_path:) %>
    <%= render UI::Navigation::Item.new("Articles", page_path("articles"), request_path:) %>
    <%= render UI::Navigation::Item.new("Services", page_path("services"), request_path:) %>
    <%= render UI::Navigation::Item.new("Newsletter", page_path("hotwire"), request_path:) %>
    <%= render UI::Navigation::Item.new("Projects", page_path("projects"), request_path:) %>
  </ul>
</nav>
